@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-netural 
}
.txtGradinet {
  @apply bg-gradient-to-r from-primary to-textGradientEnd bg-clip-text text-transparent;
}
.bgGradient {
  @apply bg-gradient-to-br from-darkGradientStart/10 to-darkBg/40;
}
.bgBar {
  background-image: url("../src/assets/img/other/Group 114.svg");
  background-repeat: no-repeat;
  background-size: cover;
}